<!-- 友情链接 -->
<%- include header %>
<link rel="stylesheet" href="/stylesheets/post.css">


<div class="page course-detail" style="display: block;">
  <!-- 标题栏 -->
  <header class="bar bar-nav">
    <a class="icon icon-left pull-left back"></a>
    <h1 class="title">友情链接</h1>
  </header>

  <div class="content">
    <div class="content-block J_lessonDetail">
      <ul style="list-style:none">
        <li><h3><a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">林伟健的博客</a></h3></li>
        <li><h3><a href="http://www.onefoundation.cn/html/cn/beneficence.html">彭斌成的博客</a></h3></li>
      </ul>
    </div>      
  </div>
</div>
<%- include footer %>