<!-- 网址 这一项需要加上 http:// 前缀，否则在生成连接的时候会基于当前 url （本地是 localhost:3000） -->

<%- include header %>
<link rel="stylesheet" href="/stylesheets/post.css">


<div class="page course-detail" style="display: block;">
  <!-- 标题栏 -->
  <header class="bar bar-nav">
    <a class="icon icon-left pull-left back"></a>
    <h1 class="title">新建教程</h1>
  </header>

  <div class="content">
    <div class="content-block J_lessonDetail">
      <form method="post">
        标题：<br />
        <input type="text" name="title" /><br />
        标签：<br />
        <input type="text" name="tag1" />
        <!-- <input type="text" name="tag2" /><input type="text" name="tag3" /> -->
        <br />
        正文：<br />
        <textarea name="post" rows="10"></textarea><br />
        demo链接：<br />
        <input type="text" name="link" /><br />
        <input type="submit" value="发表" />
      </form>
    </div>      
  </div>
</div>
<%- include footer %>