<!-- 网址 这一项需要加上 http:// 前缀，否则在生成连接的时候会基于当前 url （本地是 localhost:3000） -->

<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tag1" />
  <!-- <input type="text" name="tag2" /><input type="text" name="tag3" /> -->
  <br />
  正文：<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  demo链接：<br />
  <input type="text" name="link" /><br />
  <input type="submit" value="发表" />
</form>
<%- include footer %>