<!-- 导师详情 -->

<%- include header %>
<link rel="stylesheet" href="/stylesheets/teacher-detail.css">

  <div class="page teacher-detail" style="display: block;">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
      <a class="icon icon-left pull-left back"></a>
      <h1 class="title">导师详情</h1>
    </header>

    <div class="content">
      <div class="content-block J_lessonDetail">
        <img class="main-img" src="/images/weijian.jpg">
        
        <div class="detail">
          <h3>林伟健</h3>
          <p class="c-detail">对于过去的人和过去的事，我们的态度多与旁人无异。</p>
        </div>
      </div>

      <div class="content-block-title">导师授课</div>
      <div class="card facebook-card">
        <a href="./course-detail">
          <div class="card-header no-border">
            <div class="facebook-name">分页页码制作</div>
            <div class="facebook-date">8月1日</div>
          </div>
          <div class="card-content">
            <img class="card-img" src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"></div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>通过本课程的学习，我们可以学习到利用HTML、CSS样式技术制作出分页页码的效果。包括最简单的直角分页页码效果，修复行内元素之间的间隔bug问题分析，代码整理，为分页页码插入小图标。</p>
            </div>
          </div>
          <div class="card-footer no-border">阅读原文</div>
        </a>
      </div>
    </div>
  </div>

<%- include footer %>