img {
  font-size: 0;
  vertical-align: top;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #333;
}
.alert {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background-color: #fff;
}

// 公共样式
.hide {
  display: none;
}
